cycler==0.10.0
decorator==4.0.11
freezegun==0.3.8
grequests==0.3.0
matplotlib==3.0.3
networkx==2.2
numpy==1.16.2
py==1.4.33
pyparsing==2.2.0
pytest==3.0.7
python-dateutil==2.6.0
pytz==2017.2
requests==2.13.0
scipy==1.2.1
six==1.10.0
